*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;

}

:root {
    --main-color: #088178;
    --white: #ffffff; 
  }

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height:64px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-size: 12px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
    
}
.section-p1{
    padding: 40px 80px;
}

body{
    width:100%;
}

/* section1 */
#header{
  display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#E3E6F3 ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
    
    
}

#header img{
    height:120px;
    border:solid white;
    border-radius: 50%;
    background-color: white;
}

 #navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
    
  
 }

 #navbar li {
    padding: 0 20px;
    text-decoration: none;
    list-style: none;
    position: relative;
 }

#navbar li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #1a1a1a;
    transition: 0.3s ease;
 }

 #navbar li a:hover,
 #navbar li a.active{
   color:var(--main-color) ;
 }

 #navbar li a.active::after,
  #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

 }

 /* Home page */
 #hero{
    background-image: url("img/smile-girl.4.pn-removebg-preview.png") ;
    background-size:55%;
    background-repeat: no-repeat;
    background-color:#E3E6F3 ;
    height: 90vh;
    width: 100%;
    background-position: top 20% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    
 }

 #hero h4{
    padding-bottom: 15px;

 }

 #hero h1{
    color: var(--main-color);
 }

 #hero button{
    background-color: rgba(204, 170, 117, 0.615) ;
    border: none;
    color:var(--main-color);
    padding: 20px 80px 14px 55px;
    border-radius: 50% 2%;
    font-weight: 600;
    font-style:oblique;
    font-size: 16px;

 }

 #feacture .fe-box{
    width: 180px;
    text-align: center;
    padding:25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    border-radius: 4px;   
    margin: 15px 0; 
    cursor: pointer;
    
 }
 #feacture .fe-box :hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
 }

 #feacture img{ 
    height: 100px;
    margin-bottom: 10px;
 }

 
 
 #feacture .fe-box h6{
    padding: 10px 6px;
    line-height: 1;
    display: inline-block;
    border-radius: 9px 8px 6px 8px;
    color: var(--main-color);
    background-color: #fddde4;

 }
 #feacture{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
 }


 #feacture .fe-box:nth-child(2) h6{
    background-color: aqua;
 }
 
 #feacture .fe-box:nth-child(3) h6{
    background-color: rgb(219, 141, 194);
 }
 
 #feacture .fe-box:nth-child(4) h6{
    background-color: rgb(106, 200, 200);
 }
 
 #feacture .fe-box:nth-child(5) h6{
    background-color: rgb(0, 179, 255);
 }
 
 #feacture .fe-box:nth-child(6) h6{
    background-color: rgb(48, 224, 116);
 }

 #product1{
   text-align: center;
   
 }
 

#product1 .pro{
   width: 23%;
   min-width: 250px;
   padding: 15px 12px;
   border: 1px solid #cce7d0;
   border-radius: 25px;
   cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.2s ease;
    /* position: relative; */
}

#product1 .pro :hover{
   box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product1 .pro img{
   /* width: 100%; */
   border-radius: 20px;
   padding: 6px;
   margin: 6px;
   background-color: hsl(0, 7%, 86%);
}

#product1 .pro .des {
   text-align: start;
   padding: 10px 0;
   box-shadow: none;
}

#product1 .pro .des span{
   color: #606063;
   font-size: 12px;
   box-shadow: none;
}
#product1 .pro .des h5{
   padding-top:7px;
   color: #1a1a1a;
   font-size: 14px;
   box-shadow: none;
}

#product1 .pro .des i{
   font-size: 25px;
   color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
   padding-top: 7px;
   color: var(--main-color);
   font-weight: 700;
   font-size: 15px;
}

#product1 .pro-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   /* padding: 15px; */
}


 
 
 